/* regole generali pagina */
body{
    background-color: rgb(238, 238, 238);
    font-size: 20px;
}
/* regolke header */
header{
    background-color: white;
    margin: -8px;
}
header img{
    margin-left: 20px;
    width: 100px;
    vertical-align: middle;
   
}
header span{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;  
}
/* regole main */
#main{
    
}
#span1{
    background-color: rgb(101, 199, 255);
    color: white;
    border-radius: 3px;
    padding: 5px;


}
#span2{
    color: gray;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}
.verde{
  
  
}
.new{
    color: white;
    background-color: rgb(101, 199, 255);
    border-radius: 10px;
    font-size: 14px;
    padding: 5px;
   
}
.sfondo{
    background-color: white;
  margin-left: 300px;
  margin-top: 50px;
  margin-right: 300px;
  border-radius: 15px;
  padding-bottom: 28px;
  padding-top: 28px;
  padding-left: 30px;
  
}
.head{ 
  
}
.strong{
    font-size: 30px;
}
#viola{
    background-color: rgb(165, 80, 245);
}
#verde{
    background-color: rgb(77, 150, 77);
}
#arancione{
    background-color: rgb(252, 185, 42);
}
.row{
    padding-top: 10px;
}