/* regole generali pagina */
body{
    background-color: rgb(238, 238, 238);
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* regolke header */
header{
    background-color: white;
    border: 5px;
  border-color: black;
    
}
header img{
    margin-left: 20px;
    width: 100px;
    vertical-align: middle;
   
}
header span{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle; 
}
/* regole main */

.sfondo{
  background-color: white;
  margin: 50px 300px;
  border-radius: 15px;
  padding: 30px 45px;
}
/* regole testo main */
#span1{
    background-color: rgb(101, 199, 255);
    color: white;
    border-radius: 3px;
    padding: 5px;
}
#span2{
    color: gray;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

.new{
    color: white;
    background-color: rgb(101, 199, 255);
    border-radius: 10px;
    font-size: 13px;
    padding: 7px;
   
}
.strong{
    font-size: 30px;
    margin-bottom: 0px;
}
#viola{
    background-color: rgb(165, 80, 245);
}
#verde{
    background-color: rgb(73, 170, 141);
}
#arancione{
    background-color: rgb(252, 185, 42);
}
#rosa{
    background-color: rgb(199, 31, 171);
}
#verdee{
    background-color: rgb(3, 197, 45);
}
.row{
    padding-top: 15px;
}
/* regole cerchi verdi/rossi */
.ok{
    font-size: 14px;
    color: rgb(23, 156, 45);
    padding: 5px;
    border-radius: 50%;
    border: 1px solid rgb(25, 155, 94);
}
.error{
    font-size: 14px;
    color: rgb(255, 0, 55);
    padding: 5px;
    border-radius: 50%;
    border: 1px solid rgb(255, 0, 0);
}